#program h1 {font-size:28px;}
#program h2 {
	letter-spacing: 1px;
	font-size:18px;
	color: #fff
}
#program .programItem.common,
#program .programItem.common h3 {
    background: #ff9400!important;
		color: #fff!important;
}
#program .venue1 {
	color: #fff;
	background: #23292f
}
#program .venue1,
#program .venue1 a,
#program .venue1 h3,
#program .venue1 .programSpeaker {
	color: #fff;
}
#program .venue2 {
	color: #000;
	background: #707070
}
#program .venue2 a,
#program .venue2 h3,
#program .venue2 .programSpeaker {
	color: #000;
}
#program .venue3 {
	color: #444;
	background: #ddd;
}
#program .venue3 a,
#program .venue3 h3,
#program .venue3 .programSpeaker {
	color: #444;
}
.programBlock:after,
.programBody:after,
.programDay:after,
.programVenueTitles:after{
    content: "";
    display: table;
    clear: both
}
.programDay {
    text-align: center
}
@media screen and (max-width: 48rem) {
    .programDesktop {
        display: none
    }
}
.programMobile {
    display: none
}
.programDay {
    padding: 0 1rem;
    margin-top: 6rem
}
@media screen and (max-width: 48rem) {
    .programMobile {
        display: block
    }
    .programDay {
        padding: 0;
        margin-top: 4rem
    }
}
.programBody {
    margin-bottom: 4rem
}
.programVenueTitles {
    margin: 2rem 0 .5rem
}
.programVenueTitles>div {
    box-sizing: border-box;
    width: 33.33333%;
    float: left
}
@media screen and (max-width: 48rem) {
    .programVenueTitles {
        margin-top: 0
    }
    .programVenueTitles>div {
        width: 100%
    }
}
.programVenue {
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
}
.programItem {
	border-width: 0.25rem;
	border-color: #000;
	border-style: solid;
}
@media screen and (max-width: 48rem) {
    .programVenue {
        width: 100%
    }
}
.programItem {
    padding: 0.5rem
}
.programItem.common,
.programItem.common a {
    color: #fff!important
}
.programItem.common {
    text-transform: uppercase
}
@media screen and (max-width: 48rem) {
    .programItem.common {
        height: initial;
        text-align: center
    }
}
.programSpeaker:after {
    display: inline;
    content: ','
}
.programSpeaker:last-of-type:after {
    display: none
}
.text {
    margin: 0 auto;
    line-height: 1.5;
    width: 60%
}
@media screen and (max-width: 48rem) {
    .text {
        width: 100%;
        margin-bottom: 2rem;
        padding: 1.5rem 0
    }
}
.text>div,
.text>p {
    text-align: left!important;
    margin-bottom: 1rem
}
.text p:first-of-type {
    margin-top: 0
}
.text:last-child {
    padding-bottom: 0
}
@media screen and (max-width: 48rem) {
	.programItem {
		overflow:hidden;
	}
	.timeplace {
		display: inline-block;
		float: left;
		text-align: left;
		margin-right: 15px;
	}
	.content {
		display: inline-block;
		max-width: 55%;
	}
}
.empty {
	background: transparent;
}
.programItem h3 {
	letter-spacing: 1.5px;
	font-size: 18px;
	margin-bottom: 2px;
	line-height: 22px;
}
.programItem h4 {
	text-transform: None;
	letter-spacing: 1px;
	font-family: 'opensans-regular', sans-serif;
	font-size: 14px;
	line-height: 15px;
}
@media screen and (max-width: 48rem) {
	.programItem h3 {
		letter-spacing: 1.5px;
		font-size: 12px;
		margin-bottom: 2px;
		line-height: 14px;
	}
}
.fiveMin {
	height: 25px;
}
.tenMin {
	height: 50px;
	line-height: 15px;
}
.fifteenMin {
	height: 75px;
	line-height: 15px;
}
.thirtyMin {
	height: 150px;
}
.sixtyMin {
	height: 300px;
}
.fiftyfiveMin {
	height: 275px;
}
.fifteenMin h3,
.tenMin h3 {
	letter-spacing: 1px;
	font-size: 12px;
	margin-bottom: 1px;
	line-height: 15px;
}
.fifteenMin h4,
.tenMin h4,
.fifteenMin .time,
.tenMin .time {
	font-size: 12px;
	font-weight: bold;
}
